<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
    <h1 th:text="'Recipes Homepage'">Recipes</h1>
    <h2>Lasagne</h2>
    <h3>Ingredients</h3>
        <ul>
            <li>qwprop</li>
            <li>qwprop</li>
            <li>qwprop</li>
        </ul>
    <h3>Recipe</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis cumque deleniti, dolores dolorum est expedita iure libero magni mollitia nam omnis perspiciatis provident, quia quod sit unde veritatis voluptas.</p>
</body>
</html>